@{
    ViewBag.Title = "Gestión de Citas";
}

@section customStyles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
}

<h2 class="text-center mb-4">Gestión de Citas</h2>
<div class="d-flex align-items-center justify-content-center ">
    <div class="input-group rounded mb-3">
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
        <input type="search" id="buscador-personalizado" class="form-control rounded-end " placeholder="buscar" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-secondary"
                data-bs-toggle="collapse"
                href="#multiCollapseExample1"
                role="button" aria-expanded="false"
                aria-controls="multiCollapseExample1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"></path>
            </svg>
        </button>
    </div>
    <div style="width:150px;">
        <button class="btn btn-success " data-bs-toggle="modal" data-bs-target="#ModalNuevaCita">Nueva Cita</button>
    </div>

</div>


<!-- Filtros -->
<div class="collapse multi-collapse" id="multiCollapseExample1">

    <div class="card p-4 mb-4 shadow-sm">
        <h5 class="font-weight-bold">Filtros de Búsqueda</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelectMedico">Médico:</label>
                    <select class="form-select" id="inputSelectMedico">
                        @*aqui habra datos desde el js*@
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelectEstado">Estado:</label>
                    <select class="form-select" id="inputSelectEstado">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelectEspecialidad">Especialidad:</label>
                    <select class="form-select" id="inputSelectEspecialidad">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputFecha">Fecha:</label>
                    <input type="date" class="form-control" id="inputFecha">
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Tabla -->
<div class="card p-4 shadow-sm">
    <h5 class="font-weight-bold">Listado de Citas</h5>
    <table id="tablaCitas" class="display table table-bordered table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Paciente</th>
                <th>Médico</th>
                <th>Especialidad</th>
                <th>Fecha y Hora</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="ModalNuevaCita" tabindex="-1" aria-labelledby="ModalNuevaCitaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Cita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCita">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="dni-paciente">Dni Paciente</span>
                        <input type="text" class="form-control" placeholder="Ingrese DNI" aria-label="dni" aria-describedby="dni-paciente">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>

                    @*<div class="form-group">
            <label for="dniPaciente" class="font-weight-bold">DNI del Paciente <span class="text-danger">*</span></label>
            <div class="input-group">
                <input type="text" id="dniPaciente" class="form-control" placeholder="Ingrese DNI" />
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" id="btnBuscarPaciente">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </div>
            <small id="pacienteInfo" class="form-text text-muted"></small>
        </div>*@



                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputSelectEspecialidadModal">Especialidad</label>
                        <select class="form-select" id="inputSelectEspecialidadModal">
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputSelectMedico">Médico</label>
                        <select class="form-select" id="inputSelectMedico">
                            @*aqui habra datos desde el js*@
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputSelectTipoConsulta">Tipo de Consulta</label>
                        <select class="form-select" id="inputSelectTipoConsulta">
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputFechaHora">Fecha y hora:</label>
                        <input type="datetime-local" class="form-control" id="inputFechaHora">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar cita</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script src="~/Scripts/GestionarCitasScripts/tablaCitas.js"></script>
    <script src="~/Scripts/GestionarCitasScripts/LlenarSelects.js"></script>
}
