<!-- Modal -->
<div class="modal fade" id="ModalNuevaCita" tabindex="-1" aria-labelledby="ModalNuevaCitaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Cita</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCita">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="dni-paciente">Dni Paciente</span>
                        <input type="text" class="form-control" id="inputDniPaciente" placeholder="Ingrese DNI" maxlength="8" aria-label="dni" aria-describedby="dni-paciente">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="collapse" id="datosPaciente">
                        <div class="card card-body">
                            <p><strong>Nombre:</strong> <span id="pacienteNombre"></span></p>
                            <p><strong>Estado:</strong> <span class="badge " id="pacienteEstado"></span></p>
                            <p><strong>Codigo:</strong> <span id="pacienteCodigo"></span></p>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputSelectTipoConsulta">Tipo de Consulta</label>
                        <select class="form-select" id="inputSelectTipoConsulta">
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputFechaHora">Fecha y hora:</label>
                        <input type="datetime-local" class="form-control" id="inputFechaHora" readonly>
                    </div>
                    <!-- Nuevos datos -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputHoraInicio">Hora Inicio:</label>
                        <input type="text" class="form-control" id="inputHoraInicio" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputMedicoNombre">Nombre del Médico:</label>
                        <input type="text" class="form-control" id="inputMedicoNombre" readonly>
                    </div>
                    <!-- Campo oculto para MedicoCodigo -->
                    <input type="hidden" id="inputMedicoCodigo">
                    <input type="hidden" id="inputEspecialidadModal"  />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnGuardarCita" class="btn btn-primary">Guardar cita</button>
            </div>
        </div>
    </div>
</div>
