<!-- Filtros -->
<div class="collapse multi-collapse" id="multiCollapseExample1">

    <div class="card p-4 mb-4 shadow-sm">
        <h5 class="font-weight-bold">Filtros de Búsqueda</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelectEspecialidad">Especialidad:</label>
                    <select class="form-select" id="inputSelectEspecialidad">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelectMedico">Médico:</label>
                    <select class="form-select" id="inputSelectMedico">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelectEstado">Estado:</label>
                    <select class="form-select" id="inputSelectEstado">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputFecha">Fecha:</label>
                    <input type="date" class="form-control" id="inputFecha">
                </div>
            </div>

        </div>
    </div>
    <button id="resetFilter">resetear</button>
</div>
