<div class="container my-1">
    <h2 class="text-start mb-4 fw-bold">Citas Anteriores</h2>

    <!-- Lista con scroll -->
    <ul class="list-group" id="listaCitas">
        <!-- Las citas se agregarán dinámicamente aquí -->
    </ul>
</div>
