<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <!-- Formulario para Notas Adicionales -->
            <form id="formularioNotasAdicionales">
                <div class="card shadow-sm">
                   
                    <div class="card-body">
                        <!-- Campo para Ingresar Notas Adicionales -->
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="notasAdicionales" class="form-label">Notas Adicionales</label>
                                <textarea id="notasAdicionales" class="form-control" rows="5" placeholder="Ingrese notas adicionales relacionadas con la consulta o receta." required></textarea>
                            </div>
                        </div>

                        <!-- Botón para Finalizar -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success mt-3">Finalizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
