
<div>
    <h3 id="nombrePaciente" class=""></h3>
    <div class="row">
        <div class="col-4">
            <p id="edad"></p>
            <p id="FechaNacimiento"></p>
            <p id="Dni" ></p>
            <p>Estado civil: Soltero</p>
            <p>Tipo sangre: O+</p>
        </div>
        <div class="col-4">
            <p id="direccion"></p>
            <p id="correo"></p>
            <p id="celular"></p>
            <p >Nacionalidad: Peruana</p>
        </div>
        @*<div id="ContactosEmergencia" class="col-4" >
            <p class="numeroEmergencia"></p>
        </div>*@
    </div>
</div>


<script>
   
</script>