<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5>Recetas Médicas</h5>
                </div>
                <div class="card-body" style="max-height: 45vh; overflow-y: auto;">
                    <ul id="listaRecetas" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
