
@model dynamic


@section customStyles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
}

<!-- Modal para actualizar paciente -->
<div class="modal fade" id="modalActualizarPaciente" tabindex="-1" aria-labelledby="modalActualizarPacienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalActualizarPacienteLabel">Actualizar Paciente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="datosPersonales p-4 rounded-4">
                    <div class="d-flex align-items-center mb-3">
                        <h5 id="PacienteNombreCompleto">  </h5>
                        <span class="mx-3  badge bg-success" id="mostrarPacienteEstado"></span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Codigo: <span id="mostrarPacienteCodigo"></span></p>
                            <p>Fecha nacimiento: <span id="mostrarPacienteFechaNacimiento"></span> </p>
                        </div>
                        <div class="col-6">
                            <p>Seguro: <span id="mostrarPacienteSeguro"></span> </p>
                            <p>DNI: <span id="mostrarPacienteDNI"></span> </p>
                        </div>
                    </div>

                </div>
                <div class="mt-3">
                    <h6>Contactos de Emergencia</h6>
                    <ul id="listaContactosEmergencia" class="list-group">
                        <!-- Los contactos se agregarán aquí dinámicamente -->
                    </ul>
                </div>
                <form class="mt-3" id="formActualizarPaciente">
                    <h6>Actualizar Información</h6>
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="actualizarPacienteNombreCompleto">Nombre Completo</span>
                        <input type="text" class="form-control" id="actualizarPacienteNombreCompleto" name="PacienteNombreCompleto" required>
                    </div>
                    <div class="input-group mb-3">
                        <span for="actualizarPacienteDireccion" class="input-group-text">Dirección</span>
                        <input type="text" class="form-control" id="actualizarPacienteDireccion" name="PacienteDireccion">
                    </div>
                    <div class="input-group mb-3">
                        <span for="actualizarPacienteTelefono" class="input-group-text">Teléfono</span>
                        <input type="text" class="form-control" id="actualizarPacienteTelefono" maxlength="9" name="PacienteTelefono">
                    </div>
                    <div class="input-group mb-3">
                        <span for="actualizarPacienteCorreo" class="input-group-text">Correo Electrónico</span>
                        <input type="email" class="form-control" id="actualizarPacienteCorreo" name="PacienteCorreoElectronico">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>


<!-- Modal para actualizar contacto de emergencia -->
<div class="modal fade " id="modalActualizarContacto" tabindex="-1" aria-labelledby="modalActualizarContactoLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actualizar Contacto de Emergencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formActualizarContacto">
                    <input type="hidden" id="actualizarContactoCodigo" name="ContactoEmergenciaCodigo" />
                    <div class="mb-3">
                        <label for="actualizarContactoNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="actualizarContactoNombre" name="ContactoEmergenciaNombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="actualizarContactoTelefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="actualizarContactoTelefono" maxlength="9" name="ContactoEmergenciaTelefono" required>
                    </div>
                    <div class="mb-3">
                        <label for="actualizarContactoRelacion" class="form-label">Relación</label>
                        <input type="text" class="form-control" id="actualizarContactoRelacion" name="ContactoEmergenciaRelacion" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

