
@model dynamic


@section customStyles {
    <link rel="stylesheet" href="~/Content/Estilos-GestionarPacientes/ModalActualizarPacientes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
}

<!-- Modal para actualizar paciente -->
<div class="modal fade" id="modalActualizarPaciente" tabindex="-1" aria-labelledby="modalActualizarPacienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="formActualizarPaciente">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalActualizarPacienteLabel">Actualizar Paciente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!-- Datos de solo lectura -->
                    <div class=" info">
                        <h6 class="text-center fw-bold my-3">Información General</h6>
                        <div class="  row">
                            <p class="col-6 my-4 "><strong>Código del Paciente:</strong> <span  id="mostrarPacienteCodigo"></span></p>
                            <p class="col-6 my-4" ><strong>Fecha de Nacimiento:</strong> <span id="mostrarPacienteFechaNacimiento"></span></p>
                            <p class="col-4" ><strong>Estado:</strong> <span class="badge bg-success" id="mostrarPacienteEstado"></span></p>
                            <p class="col-4"><strong>Seguro:</strong> <span id="mostrarPacienteSeguro"></span></p>
                            <p class="col-4"><strong>DNI:</strong> <span id="mostrarPacienteDNI"></span></p>
                        </div>
                    </div>

                    <hr />

                    <!-- Datos editables -->
                    <div class="mb-3">
                        <h6>Actualizar Información</h6>
                        <div class="input-group mb-3">
                            <span class="input-group-text"  for="actualizarPacienteNombreCompleto" >Nombre Completo</span>
                            <input type="text" class="form-control" id="actualizarPacienteNombreCompleto" name="PacienteNombreCompleto" required>
                        </div>
                        <div class="input-group mb-3">
                            <span for="actualizarPacienteDireccion" class="input-group-text">Dirección</span>
                            <input type="text" class="form-control" id="actualizarPacienteDireccion" name="PacienteDireccion">
                        </div>
                        <div class="input-group mb-3">
                            <span for="actualizarPacienteTelefono" class="input-group-text">Teléfono</span>
                            <input type="text" class="form-control" id="actualizarPacienteTelefono" name="PacienteTelefono">
                        </div>
                        <div class="input-group mb-3">
                            <span for="actualizarPacienteCorreo" class="input-group-text">Correo Electrónico</span>
                            <input type="email" class="form-control" id="actualizarPacienteCorreo" name="PacienteCorreoElectronico">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
